.comment-elements{
    font-family: "Minion";
    margin-bottom: 70px;
}

.comment-elements h1 {
    margin: 60px 0 30px 0;
    font-size: 50px;
    text-transform: uppercase;
    color: #CB849C;
    margin-left: -20px;
}

.user-img{
    width:42px;
    height:42px;
    border-radius:50%;
    margin-right:10px;
}

#write-comment > div{
    padding-left: 0 !important;
    width: -webkit-fill-available;
}

#write-comment input{
    width: 100%;
    padding-right:10px;
    font-size:18px;
}

#write-comment-input::placeholder{
    color:#595757;
    font-size: 20px;
    font-style: italic;
}

#submit-write-comment:enabled:hover{
    cursor:pointer;
}

#submit-write-comment svg{
    width: 60px;
    height: 61px;
}

.comment, #write-comment{
    flex:1;
    border: 2px solid #595757;
    border-radius: 25px;
    padding: 25px;
}

.comment-edit-buttons{
    font-size: 30px;
    color:#CB849C;
}

.edit-buttons li, .edit-buttons a{
    padding:10px;
    display:inline-block;
    width:100%;
}

#delete-comment{
    color: red !important;
    font-weight:600;
}

.dropdown-menu li:hover, .dropdown-menu a:hover{
    cursor:pointer;
    background-color:#d9d9d9;
}

.dropdown-menu a:hover{
    cursor:pointer;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
     border-radius:6px;
 }

 .btn{
     margin-left:5px;
 }

.dropdown ul{
    border: 1px solid #CB849C;
    padding:0;
}

.comment-container{
    margin-top:32px;
}

.comment-info, .comment-content{
    font-size:20px;
}

#submit-comment-edit-buttons{
    margin-top:10px;
}

.edit-comment-view{
    display:flex;
    flex-direction: column;
}

.comment-container{
    margin-bottom: 32px;
}

.comment-content{
    margin-left: 10px;
}

.comment-info{
    margin-bottom: 19px;
}
