#title{
  --title-font-size: 2.5rem;
}

#favicon{
    --width: 3rem;
    --height: 3rem;
}

#sign-in-form{
    --sign-in-form-margin: 2rem;
    --sign-in-form-padding: 3rem;
}

#sign-in-title, #sign-in-cause{
    --sign-in-title-font-size: 2.5rem;
}

#social-media-buttons{
    --social-media-buttons-margin-top: 2.5rem;
    --social-media-buttons-margin-bottom: 5.63rem;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    position:relative;
}

body::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image: url("Sign-in-page-background.webp");
    background-size: cover;
    opacity:0.7;
}

main{
    flex-direction: column;
    opacity: 0.99;
}

#favicon{
    width: var(--width);
    height: var(--height);
}

#title{
    font-size: var(--title-font-size);
    margin-left: 0.7rem;
    margin-bottom: 0;
    color: #B92941;
    font-weight: 700;
}

#sign-in-cause{
    font-size: calc(var(--sign-in-title-font-size) - 1.3rem);
    margin-top: 0.9rem;
    margin-bottom: 0;
    display: none;
}

#sign-in-form{
    flex-direction: column;
    min-height:200px;
    background-color: white;
    font-weight: 700;
    margin: var(--sign-in-form-margin);
    padding: var(--sign-in-form-padding);
    width: max-content;
}

#sign-in-title{
    font-size:var(--sign-in-title-font-size);
    display:flex;
    justify-content: center;
    margin-bottom: 0;
}

#social-media-buttons{
    margin-top: var(--social-media-buttons-margin-top);
    margin-bottom: var(--social-media-buttons-margin-bottom);
}

#social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-media-buttons a iconify-icon{
    margin-right: 0.56rem;
}

#facebook-log-in{
    background-color: #1877F2;
    color: white;
}

main #sign-in-form #social-media-buttons #github-log-in{
    background-color: #24292f;
    color: white;
}

#google-log-in{
    color: rgb(0, 0, 0, 0.54);
    box-shadow: 0.3rem 0.4rem 0.56rem 0.3rem rgb(0, 0, 0, 0.25);
}

.social-sign-in-button{
    padding: 0.94rem 1.25rem;
    border-radius: 0.62rem;
    font-weight: 600;
    font-size: 1.20rem;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 2.2rem;
    transition: all .2s ease-in-out;
}

.social-sign-in-button:hover{
    transform: scale(1.1);
}

@media (min-width: 600px) {
    #favicon{
        width: calc(var(--width) + 0.2rem);
        height: calc(var(--height) + 0.2rem);
    }

    #title{
        font-size: calc(var(--title-font-size) + 0.2rem);
    }

    #sign-in-form{
        margin: calc(var(--sign-in-form-margin) + 0.2rem);
        padding: calc(var(--sign-in-form-padding) + 0.2rem);
    }

    #sign-in-title{
        font-size: calc(var(--sign-in-title-font-size) + 0.2rem);
    }

    #social-media-buttons{
        margin-top: calc(var(--social-media-buttons-margin-top) + 0.2rem);
        margin-bottom: calc(var(--social-media-buttons-margin-bottom) + 0.2rem);
    }
}

@media (min-width: 800px) {
    #favicon{
        width: calc(var(--width) + 0.3rem);
        height: calc(var(--height) + 0.3rem);
    }

    #title{
        font-size: calc(var(--title-font-size) + 0.3rem);
    }

    #sign-in-form{
        margin: calc(var(--sign-in-form-margin) + 0.3rem);
        padding: calc(var(--sign-in-form-padding) + 0.3rem);
    }

    #sign-in-title{
        font-size: calc(var(--sign-in-title-font-size) + 0.3rem);
    }

    #social-media-buttons{
        margin-top: calc(var(--social-media-buttons-margin-top) + 0.3rem);
        margin-bottom: calc(var(--social-media-buttons-margin-bottom) + 0.3rem);
    }
}

@media (min-width: 1000px) {
    main{
       flex-direction: unset;
    }

    #sign-in-text div{
        justify-content: start !important;
        margin-bottom: 0.5rem;
    }

    #sign-in-cause{
        display: unset;
    }

    #sign-in-form{
        margin: 0px;
    }
}

@media (min-width: 1300px) {
    #favicon{
        width: calc(var(--width) + 0.4rem);
        height: calc(var(--height) + 0.4rem);
    }

    #title{
        font-size: calc(var(--title-font-size) + 0.4rem);
    }

    #sign-in-form{
        padding: calc(var(--sign-in-form-padding) + 0.4rem);
    }

    #sign-in-title{
        font-size: calc(var(--sign-in-title-font-size) + 0.4rem);
    }

    #social-media-buttons{
        margin-top: calc(var(--social-media-buttons-margin-top) + 0.4rem);
        margin-bottom: calc(var(--social-media-buttons-margin-bottom) + 0.4rem);
    }
}

@media (min-width: 1500px) {
    #favicon{
        width: calc(var(--width) + 0.6rem);
        height: calc(var(--height) + 0.6rem);
    }

    .container{
        padding: 0px !important;
    }

    #sign-in-cause{
        font-size: calc(var(--sign-in-title-font-size) - 1.1rem);
    }

    #title{
        font-size: calc(var(--title-font-size) + 0.6rem);
    }

    #sign-in-form{
        margin-left: 1.2rem;
        padding: calc(var(--sign-in-form-padding) + 2rem);
    }

    #sign-in-title{
        font-size: calc(var(--sign-in-title-font-size) + 0.6rem);
    }

    #social-media-buttons{
        margin-top: calc(var(--social-media-buttons-margin-top) + 1rem);
        margin-bottom: calc(var(--social-media-buttons-margin-bottom) + 1rem);
    }

    .social-sign-in-button{
        margin-bottom: 3rem;
    }
}