services:
  blogi-frontend:
    container_name: blogi-frontend
    build:
      context: .
      dockerfile: Dockerfile
    image: blogi-frontend:latest
    depends_on:
      - blogi-backend-authentication-service
      - blogi-backend-article-service
      - blogi-backend-file-service
    ports:
      - '8080:8080'
  blogi-backend-authentication-service:
    image: gabichelsea/blogi-authentication-service:1.3
    ports:
      - '8081:8081'
  blogi-backend-article-service:
    image: gabichelsea/blogi-article-service:1.12
    ports:
      - '8082:8082'
  blogi-backend-file-service:
    image: gabichelsea/blogi-file-service:1.6
    ports:
      - '8083:8083'
