.logo{
  --logo-font-size: 1.6rem;
}

.sign-in-button{
  --sign-in-button-font-size: 0.55rem;
  --sign-in-button-padding: 0.6rem 0.6rem;
}

.nav-link{
  --nav-link-font-size: 1rem;
}

.welcome-text{
  --welcome-text-font-size:1rem;
}

#profile-picture{
  --profile-picture-width: 2rem;
  --profile-picture-height: 2rem;
}

.dropdown-item{
  --dropdown-item-font-size: 0.8rem;
}

.dropdown-icon{
  --dropdown-icon-font-size: 0.94rem;
}

.dropdown-menu{
  --dropdown-menu-margin-top: 1.05rem;
}

.header-content {
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-columns: 2fr 1.66fr 0;
  margin: 0 1.25rem;
  padding: 0.4rem;
}

.logo {
  font-size: var(--logo-font-size);
  font-weight: 700;
  color: #cb849c;
  padding: 0.3rem 0;
  grid-column: 2;
  align-self: start;
  justify-self: center;
}

.welcome-text{
  font-size: var(--welcome-text-font-size);
  margin-bottom: 0;
  color: #CB849C;
  font-weight: 763;
}

#profile-picture{
  height: var(--profile-picture-height);
  width: var(--profile-picture-width);
  border-radius: 1.25rem;
  margin:0 0.4rem;
}

.dropdown-menu{
  margin-top: var(--dropdown-menu-margin-top) !important;
  min-width: fit-content;
}

.dropdown-item{
  font-size: var(--dropdown-item-font-size);
  padding-left: 0.3rem;
}

.dropdown-icon{
  font-size:var(--dropdown-icon-font-size);
}

#logo-link {
  text-decoration: none;
}

.sign-in-button {
  font-weight: 550;
  font-size: var(--sign-in-button-font-size);
  color: white !important;
  font-family: "Proxima Nova Rg", sans-serif;
  text-decoration: none;
  background-image: linear-gradient(to right, #ebe1e8, #cb849c);
  border-radius: 0.25rem;
  padding: var(--sign-in-button-padding);
}

.header-nav-separator {
  margin: 0 1.25rem;
  border-top-width: 0.125rem;
  border-top: solid #D9D9D9;
  opacity: 100%;
}

.my-navigaton-bar {
  margin-top: 1rem;
}

.navbar-toggler-icon{
  font-size: 1rem;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
  font-family: "Minion";
  color: black !important;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
}

.nav-link:hover {
  color: #cb849c !important;
}

.nav-link[aria-current="page"] {
  color: #cb849c !important;
  text-decoration: underline #b3b3b3 0.125rem;
  text-underline-offset: 0.5rem;
  font-weight: 600;
}

@media (min-width: 550px) {
   .logo {
     font-size: calc(var(--logo-font-size) + 0.5rem);
   }

   .sign-in-button {
     font-size: calc(var(--sign-in-button-font-size) + 0.2rem);
   }

   .nav-link,
   .nav-link:visited,
   .nav-link:active {
     font-size: var(--nav-link-font-size);
     padding: 0.5rem 0.8rem;
   }

   #profile-picture{
     height: calc(var(--profile-picture-height) + 0.2rem);
     width: calc(var(--profile-picture-width) + 0.2rem);
   }

   .dropdown-item{
     font-size:calc(var(--dropdown-item-font-size) + 0.1rem);
   }

   .dropdown-toggle::after{
     font-size: calc(var(--dropdown-icon-font-size) + 0.1rem);
   }

   .dropdown-menu{
     margin-top: calc(var(--dropdown-menu-margin-top) + 0.1rem) !important;
   }
}

@media (min-width: 992px) {
  .logo {
    font-size: calc(var(--logo-font-size) + 0.7rem);
  }

  .sign-in-button {
    font-size: calc(var(--sign-in-button-font-size) + 0.3rem);
  }

  .welcome-text{
    display: block !important;
  }

  #profile-picture{
    height: calc(var(--profile-picture-height) + 0.45rem);
    width: calc(var(--profile-picture-width) + 0.45rem);
  }

  .dropdown-item{
    font-size:calc(var(--dropdown-item-font-size) + 0.2rem);
  }

  .dropdown-toggle::after{
     font-size: calc(var(--dropdown-icon-font-size) + 0.3rem);
  }

  .dropdown-menu{
    margin-top: calc(var(--dropdown-menu-margin-top) + 0.3rem) !important;
  }
}

@media (min-width: 1200px) {
  .logo {
    font-size: calc(var(--logo-font-size) + 0.8rem);
  }

  .sign-in-button {
    font-size: calc(var(--sign-in-button-font-size) + 0.37rem);
  }

  .welcome-text{
    font-size:calc(var(--welcome-text-font-size) + 0.05rem);
  }

  #profile-picture{
    height: calc(var(--profile-picture-height) + 0.6rem);
    width: calc(var(--profile-picture-width) + 0.6rem);
  }

  .dropdown-item{
    font-size:calc(var(--dropdown-item-font-size) + 0.3rem);
  }

  .dropdown-toggle::after{
     font-size: calc(var(--dropdown-icon-font-size) + 0.4rem);
  }

  .dropdown-menu{
    margin-top: calc(var(--dropdown-menu-margin-top) + 0.4rem) !important;
  }

  .navbar-collapse ul li a{
     font-size: calc(var(--nav-link-font-size) + 0.1rem);
  }

}