main {
  margin: 0 3rem;
}

.article-infos{
  --article-infos-font-size:0.8rem;
}

.card-categories{
  --card-categories-font-size:0.9rem;
}

.card-title{
  --card-title-font-size: 1.2rem;
}

.about-me-part .text {
  --about-me-text-font-size: 0.7rem;
}

.title{
  --title-font-size: 1.40rem;
}

.about-me-part img {
  --about-me-image-width: 11rem;
  --about-me-image-height: 11rem;
}

.search-text{
  --search-text:0.8rem;
}

.searchbar{
  --searchbar-padding: 0.3rem 0.5rem;
}

.filter-button-container {
   --filter-padding-size: 0rem;
}

.card{
  --card-width: 16rem;
}

.title{
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 700;
  font-size: var(--title-font-size);
}

/* ABOUT ME PART */
.about-me-part {
  margin-top: 1.2rem;
}

.about-me-part .title {
  border-top: 0.3rem solid #b3b3b3;
  padding: 0;
}

.about-me-part img {
  width: var(--about-me-image-width);
  height: var(--about-me-image-height);
  border-radius: 50%;
  border: #000000 0.125rem solid;
}

.about-me-part .image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.text-container {
  padding: 0;
}

.image-from-me-and-text-container {
  padding: 0 2rem;
}

.about-me-part .text-container {
  flex: none;
  margin-top: 1rem;
}

.about-me-part .text {
  font-family: "Minion";
  background-color: #ebe1e8;
  border-radius: 1.87rem;
  padding: 0.9rem 1.25rem;
  color: #cb849c;
  font-weight: 550;
  line-height: 1.125rem;
  font-size: var(--about-me-text-font-size);
}

.about-me-part .text p {
  margin-bottom: 0;
}

.about-me-part .text p:first-of-type, .about-me-part .text p:last-of-type {
  margin-bottom: 1rem;
}

#signature{
  font-weight:600;
  font-style: italic;
  font-size: calc(var(--about-me-text-font-size) + 0.4rem);
}

/* LATEST ARTICLES SEARCH BAR AND FILTER PART */
.title-and-searchbar-container{
  align-items: center;
}

.title-and-searchbar-container .title {
  padding: 0.25rem 0;
}

.searchbar-and-filter-container {
  justify-content: start;
  padding: 0;
  margin: 0.2rem 0;
}

.searchbar {
  border: 0.075rem #707070 solid;
  border-radius: 1.8rem;
  padding: var(--searchbar-padding);
  margin-right: 0.6rem;
}

.search-text {
  margin-right: 0;
  font-family: "Minion";
  font-size: var(--search-text);
}

.filter-button {
  display: flex;
  flex-direction: column;
}

.fa-filter {
  flex-grow: 1;
  padding: 0.38rem;
}

#input-search::placeholder{
  color:#CB849C;
}

.filter-button-container {
  border: 0.075rem #707070 solid;
  border-radius: 0.6rem;
  padding: var(--filter-padding-size);
}

.new-article-button-container {
  padding: 0;
}

.new-article-button,
.new-article-button:visited,
.new-article-button:active{
  border: 0.075rem #707070 solid;
  border-radius: 0.6rem;
  font-family: "Proxima Nova Rg", sans-serif;
  color: #cb849c;
  font-weight: 700 !important;
  padding: 0.4rem 0.4rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
}

.filter-button {
  padding: 0.6rem;
}

.fa-filter::before {
  color: #cb849c;
  font-size: 1.2rem;
}

/* FILTER */

.filter-body-container {
  padding: 1.25rem;
  border-radius: 5%;
  background-color: #b3b3b33e;
  width: auto;
}

.filter-title,
.order-title {
  color: #cb849c;
  font-family: "Minion";
  font-weight: 700;
}

#author-search-bar {
  padding-left: 0.25rem;
}

.category-options .col:first-child {
  padding-left: 1.38rem;
}

.button {
  border:1.2px #707070 solid;
  border-radius: 10px;
  padding:6px;
  font-weight: 500;
}

.confirm-yes, #filter-search{
  background-color:#cb849cd2;
  color: gray;
}

.confirm-no, #delete-filters{
  color:#CB849C;
  margin-left: 0.62rem;
}

#delete-filters {
  margin-left: 0.6rem;
}

/* ARTICLES PART */
.articles-part {
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.article {
  border: 0 !important;
  padding: 0;
}

.card {
  border: 0;
  box-shadow: 0 0 1.93rem #00000030;
  border-radius: 0;
  height: auto;
  width: auto;
}

.card-img-top {
  border-radius: 0;
  height: auto;
}

.article-infos {
  margin-bottom: 1rem;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 100;
  font-size:var(--article-infos-font-size);
}

.article-infos i{
  margin-right: 0.2rem;
}

.card-title {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: var(--card-title-font-size);
  font-weight: 700;
  margin: 1.3rem 0;
}

.read-more-button,
.read-more-button:visited,
.read-more-button:active {
  font-family: "Proxima Nova Rg";
  color: #cb849c;
  text-decoration: none;
  font-weight: 0;
  font-size: 1rem;
  transition: all .2s ease-in-out;
}

.read-more-button:hover {
  text-decoration: underline;
  font-weight: bold;
  transform: scale(1.1);
}

.card-categories .col-auto {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 100;
  font-size: var(--card-categories-font-size);
}

.card-categories .col-auto:first-letter {
  color: #cb849c;
  font-weight: 550;
}

.card-categories {
  margin-top: 1.44rem;
  padding-right: 1.6rem;
}

.edit-buttons {
  margin-top: 1rem;
}

.edit-buttons-container {
  margin-bottom: 2rem;
}

.edit-button {
  margin-right: 0.6rem;
}

@media (min-width: 410px) {
  .card {
    width: var(--card-width);
  }
}

@media (min-width: 485px) {
  .searchbar-and-filter-container{
    justify-content: end !important;
  }

  .card {
    width: calc(var(--card-width) + 1rem);
  }
}

@media (min-width: 503px) {
  .searchbar-and-filter-container {
    justify-content: end;
    padding: 0;
    margin: 0.7rem 0;
  }
}

@media (min-width: 550px) {
  .card {
    width: calc(var(--card-width) + 2rem);
  }

  .article-infos {
    font-size: calc(var(--article-infos-font-size) + 0.2rem);
  }

  .card-categories .col-auto {
    font-size: calc(var(--card-categories-font-size) + 0.2rem);
  }

  .card-title{
    font-size: calc(var(--card-title-font-size) + 0.2rem);
  }

  .about-me-part .text {
    font-size: calc(var(--about-me-text-font-size) + 0.2rem);
  }

  .title{
    font-size: calc(var(--title-font-size) + 0.2rem);
  }

  .about-me-part img {
    width: calc(var(--about-me-image-width) + 0.6rem);
    height: calc(var(--about-me-image-height) + 0.6rem);
  }

  .search-text{
    font-size: calc(var(--search-text) + 0.2rem);
  }

  .searchbar{
    font-size: calc(var(--searchbar-padding:) + 0.2rem)
  }

  .filter-button-container {
    padding: calc(var(--filter-padding-size) + 0.1rem);
  }
}

@media (min-width: 768px) {
  #article-row{
    justify-content: space-between !important;
  }
}

@media (min-width: 776px) {
  .about-me-part .text-container {
    margin-left: 1.3rem;
    flex: 1;
    margin-top: 1.25rem;
  }

  .about-me-part .image {
    width: auto;
    display: flex;
    margin-top: 1rem;
  }
}


@media (min-width: 992px) {
  #article-row{
    justify-content: space-evenly !important;
  }

  .card {
      width: calc(var(--card-width) - 0.1rem);
    }
}

@media (min-width: 1200px) {
  .card {
    width: calc(var(--card-width) + 3rem);
  }

  .article-infos {
    font-size: calc(var(--article-infos-font-size) + 0.15rem);
  }

  .card-categories .col-auto {
    font-size: calc(var(--card-categories-font-size) + 0.22rem);
  }

  .card-title{
    font-size: calc(var(--card-title-font-size) + 0.38rem);
  }

  .about-me-part .text {
    font-size: calc(var(--about-me-text-font-size) + 0.25rem);
  }

  .title{
    font-size: calc(var(--title-font-size) + 0.35rem);
  }

  .about-me-part img {
    width: calc(var(--about-me-image-width) + 1.2rem);
    height: calc(var(--about-me-image-height) + 1.2rem);
  }

  .search-text{
    font-size: calc(var(--search-text) + 0.25rem);
  }

  .searchbar{
    font-size: calc(var(--searchbar-padding:) + 0.25rem)
  }

  .filter-button-container {
    padding: calc(var(--filter-padding-size) + 0.15rem);
  }

  .new-article-button {
    padding: 0.55rem 0.55rem;
    font-size: 1.05rem;
  }

  .edit-buttons-container a{
    font-size: 1.2rem;
  }
}