main {
  margin: 0 3rem;
}

.title{
  --title-font-size: 1.40rem;
}

.title{
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 700;
  font-size: var(--title-font-size);
}

.hide{
    display: none !important;
}

@media (min-width: 550px) {
  .title{
    font-size: calc(var(--title-font-size) + 0.2rem);
  }
}

@media (min-width: 768px) {
  #article-row{
    justify-content: space-between !important;
  }
}

@media (min-width: 1200px) {
  .title{
    font-size: calc(var(--title-font-size) + 0.35rem);
  }
}